@fichap-team:registry=https://gitlab.com/api/v4/projects/29902694/packages/npm/

//gitlab.com/api/v4/packages/npm/:_authToken=3YVf_eZyyuPEyxFYwQjx
//gitlab.com/api/v4/projects/29902694/packages/npm/:_authToken=3YVf_eZyyuPEyxFYwQjx

public-hoist-pattern[]=*@heroui/*
public-hoist-pattern[]=*@fichap-team/fichapui*